<!DOCTYPE html>
<html>
<head>
	<title>Treasure Map</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/assets/materialize-css/dist/css/materialize.css" media="screen,projection"></link>
	<style>
		body {
		    display: flex;
		    min-height: 100vh;
		    flex-direction: column;
		  }

		  main {
		    flex: 1 0 auto;
		  } 
	</style>
</head>
<body ng-app="app">
	<nav style="background-color: black">
		<div class="nav-wrapper">
			<a href="#!" class="breadcrumb">Treasure Hunter Game</a>
		</div>
	</nav>
	<main>
	  	<import-file></import-file>
  	</main>
	<footer class="page-footer black">
	    <div class="footer-copyright">
	      <div class="container">
	      Made by <a class="orange-text text-lighten-3">Aymeric DIJOUX</a>
	      </div>
	    </div>
  	</footer>
	<script src="/assets/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/materialize-css/dist/js/materialize.js"></script>
	<script src="/assets/angular/angular.js"></script>
	<script src="/assets/js/app.js"></script>
</body>

</html>